# Python
__pycache__/
*.py[cod]
*.so
.env

# Django
*.log
local_settings.py
db.sqlite3

# Media & Static
/media/*
!/media/.gitkeep
/staticfiles/*
!/staticfiles/.gitkeep

# IDE
.idea/
.vscode/
*.swp

# Logs
/logs/
*.log
